.advantages-header__title {
color: @black;
font-size: 21px;
line-height: 26px;
font-weight: 700;
text-align: center;
}

.advantages-header__description {
color: @black--light;
font-size: 18px;
line-height: 26px;
font-weight: 700;
text-align: center;
}

.advantages__item--wide{
background-color: @blue;
color: @white--main;
}

.advantages__list {
list-style: none;
}

.advantages__title {
font-size: 18px;
line-height: 26px;
font-weight: 700;
text-align: center;
}

.advantages__text {
font-size: 21px;
line-height: 15px;
font-weight: 400;
text-align: center;
}

.advantages__feature--wrapper {
text-align: left; //не работает
}

.advantages__item--grey {
background-color: @grey--main;
#advantages__title {color: @black--light;}
}
